<div class="row">
<div class="large-3-columns">

</div>
<div id="zype_player">

       <script> zype.play('#zype_player',"535c47df69702d24c1010000") </script>

</div>
<div class="large-3-columns"></div>
</div>
