
<div class="row">
<div class="large-3-columns"></div>
<div id="player">
  <div class="large-6-columns">
      <% if @embed %>
        <%= @embed.body.html_safe %>
      <% else %>
        <h1> Test </h1>
      <% end %>
    </div>
</div>
<div class="large-3-columns"></div>
</div>

