
<div class="row">
<div class="large-3-columns"></div>
<div id="player">
  <div class="large-6-columns">
      <%= @embed.body.html_safe %>
    </div>
</div>
<div class="large-3-columns"></div>
</div>


<script>
  jQuery(function(){
    if(jQuery('<%= "#_zype_#{@video._id}_wrapper" %>').width() > 0){
      player = jQuery('<%= "#_zype_#{@video._id}_wrapper" %>');
      player.css({'width':'100%'})
      console.log('hello');
      }
   });
</script>
